@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.col-1 {
  width: 200px;
}

.col-2 {
  flex: 1 1 auto;
}

@media screen and (max-width: 600px) {

  .col-2 {
    width: 100px;
    flex: 0 0 auto;
  }
}

.col-3 {
  width: 300px;
}
